[submodule "domain-scan"]
	path = domain-scan
	url = https://github.com/18F/domain-scan.git
[submodule "domain-scan-update"]
	path = domain-scan-update
	url = https://github.com/greggoryelton/domain-scan-update.git
